.coverage
auth
logs
keys.sh
id_rsa
id_rsa.pub

poetry.lock
package-lock.json
*__pycache__
__pycache__
venv
env
node_modules

\#*\#
*~
*egg-info
*.pyc

tmp
.tmp
manifest
activate.sh
*keys.sh
.Trash*
*nohup.out
*secrets
*dist

Vagrantfile
.vagrant
